<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213699969160-iec1aie2cgtvrb4oer7s05b6cm5ho5bm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213699969160-iec1aie2cgtvrb4oer7s05b6cm5ho5bm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>213699969160-4bqjqhkhfto56cp9ukau068ilgc4kbvb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLHuvIlBhZ20Bsgc6U2rWTOERyAM-37v0</string>
	<key>GCM_SENDER_ID</key>
	<string>213699969160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task1chatapp</string>
	<key>PROJECT_ID</key>
	<string>task1chatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>task1chatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213699969160:ios:26dbf43409def0f8665f3d</string>
</dict>
</plist>